{% extends 'base.html' %}

{% block title %}Eliminar Cliente{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="card p-4">
        <h2 class="card-title text-center mb-4">¿Estás seguro de que quieres eliminar al cliente "{{ object.nombre }} {{ object.apellido }}"?</h2>
        <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger me-2">Sí, estoy seguro</button>
            <a href="{% url 'clientes:lista_clientes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}