{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Producto{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-4">
        <div class="card-header">
            <h2 class="card-title text-center">Crear Nuevo Producto</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success me-2">Guardar</button>
                    <a href="{% url 'productos:lista_productos' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}